.App {
  @apply min-h-screen flex items-center justify-center bg-emerald-400; 
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Keyframes for the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.anim1{
  text-align: center;
  max-width: 600px;
}

.anim-text{
  /* Animation properties */
  animation: fadeInUp 1s ease-out;
  /* Additional styling */
  font-size: 1.25rem; /* Adjust size as needed */
  color: #4a4a4a; /* Adjust color as needed */
  padding: 1rem; /* Adjust padding as needed */
}